@model GospDiplom.WEB.Models.SchetchikViewModel

@{
    ViewBag.Title = "Показания расчетных счетчиков";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Показания расчетных счетчиков</h2>
<table>
    <thead> Показания счетчиков</thead>
    <tr>
        <th> Тип счетчика</th>
        <th> Номер счетчика</th>
        <th> Номер киоска</th>
        <th> начальные</th>
        <th> конечные</th>
        <th> разница</th>
        <th> Примечания</th>
    </tr>
    <tr>
        <td> 1 </td>
        <td> 2 </td>
        <td> 3 </td>
        <td> 4 </td>
        <td> 5 </td>
        <td> 6 </td>
        <td> 7 </td>
    </tr>
</table>

