
html {
    font-size: 1rem;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* <!-- ****************************** -->*/
BODY {
    font-family: Cambria, Georgia, "Times New Roman";
    margin: 0;
    padding-top: 50px;
    padding-bottom: 20px;
}

DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}


DIV#content {
    border-left: 2px solid gray;
    margin-left: 9em;
    padding: 1em;
}

DIV#categories A {
    float: left;
    width: 8em;
    padding: .3em;
}

    div#categories a.selected {
        background-color: #19a3d0;
        color: white;
    }

    div#categories a:hover {
        background-color: #CCC;
    }

    div#categories a.selected:hover {
        background-color: #19a3d0
    }


.bg li a {
    color: white;
}

ul {
    /*border: solid black 1px;*/
}

.bg {
    background-image: url('../Content/fon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

.navbar-brand {
    color: azure;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.col-md-4 last bg-success {
    padding-bottom: inherit;
}

hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 2;
    border-top: 2px solid #19a3d0;
}

table {
    font-size: medium;
    /*border: 3px solid blue;*/
}

td {
    padding-left: 5px;
    /*border: 1px solid blue !important;*/
}
.table-bordered th,
.table-bordered td {
    border: 1px solid blue !important;
}

thead {
    background-color: cornflowerblue;
    border: 1px solid /*#dee2e6*/blue !important;
}

div.pager{
    text-align:right;
    border-top: 2px solid silver;
    padding: .5em 0 0 0;
    margin-top: 1em;
}
div.pager a{
    font-size: 1.1 em;
    color: #666;
    text-decoration: none;
    padding: 0 0.4 0 .4em;

}

div.pager a:hover{
    background-color: silver;
}

div.pager a.selected{
    background-color: #353535;color: white;
}