@model IEnumerable<string>

@*Город*@
<ul class="nav flex-column bg-white mb-0" style="border:none">
    <li>
        <h3>
            @Html.ActionLink("Гомельский филиал", "Index", "Home")
        </h3>
    </li>

    @foreach (var link in Model)
    {
        <li class="nav-item">
            @Html.RouteLink(link, new
    {
    controller = "Town",
    action = "SelectTown",
    town = link,
    page = 1
    },
    new { @class = link == ViewBag.selectTown ? "selected" : null })
            <hr>
        </li>
    }
</ul>
@*Символ @ позволяет нам использовать зарезервированные ключевые слова C#, не запутывая
    компилятор. Если мы просто вызовем параметр class (без @), компилятор будет
    считать, что мы определяем новый тип C#. Когда мы будем использовать символ @,
    компилятор поймет, что мы хотим создать параметр в анонимном типе под
    названием class, и мы получим нужный нам результат. Это не тег
    Razor.topicname*@
