@model GospWebApp.Models.User

@{
    ViewBag.Title = "Edit";
}

<h2>Edit User</h2>

@using (Html.BeginForm())
{

    <div style="text-align:center">

        <table>
            <tr>
                <td>
                    Name :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Nomer)
                </td>
            </tr>

            <tr>
                <td>
                    Email :
                </td>
                <td>
                    @Html.TextBoxFor(m => m.Model)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <input type="submit" value="Update" />
                </td>
            </tr>
        </table>

    </div>
}  